<!-- 職員位置確認画面（PC） -->

<!-- 職員参集先情報 -->
<% @departments.each do |department| %>
  <fieldset class="collapsible collapsed">
    <legend onclick="toggleFieldset(this);"><%= department.name %></legend>
    <div style="display: none;">
      <ul class="person_list">
        <% @staffs.each_with_index do |staff, pos| %>
          <% if department.name == staff.department %>
            <% if staff.latitude.blank? || staff.longitude.blank? %>
              <li><%== link_to staff.name, {}, :onclick=> "showUnknownStaff(#{pos}, '#{jsq staff.name}', '#{staff.mail_address}'); return false;".html_safe %></li>
            <% else %>
              <li><%== link_to staff.name, {}, :onclick=> "showStaff(#{pos}, '#{jsq staff.name}', '#{staff.mail_address}', '#{jsq @gathering_positions[staff.destination_code].present? ? @gathering_positions[staff.destination_code]["name"] : ""}', #{staff.status}, '#{jsq taff.reason}'); return false;".html_safe %></li>
            <% end %>
          <% end %>
        <% end %>
      </ul>
    </div>
  </fieldset>
<% end %>
