<p>災害が発生しました。</p>

<p>石巻市<br>
震度5弱</p>

<p>下記リンクより、位置情報、参集場所の報告を行ってください。</p>
<a href="http://192.168.136.128:3000/staffs/send/201318151823">http://192.168.136.128:3000/staffs/send/201318151823</a>

<!-- 以下、仕様書にはないので後で削除予定 -->
<p><a href="http://192.168.136.128:3000/staffs/">職員位置確認</a></p>
