<p>災害が発生しました。</p>

<p>石巻市</p>
<p>震度5弱</p>

<p>下記リンクより、位置情報、参集場所の報告を行ってください。</p>
<p><a href="<%= staffs_send_path("20130108151823978961") %>">個人特定情報画面</a></p>

<!-- 以下、仕様書にはないので後で削除予定 -->
<p><a href="<%= staffs_path %>">職員位置確認</a></p>
