<!-- 位置情報送信画面（モバイル） -->

<% if params[:notice] %>
  <div id="flash" style="color: green; border: green solid">
    <%= params[:notice] %>
  </div>
<% end %>

<p>下記のリンクから、現在位置を送信してください。</p>

<% if request.mobile.is_a?(Jpmobile::Mobile::Au) %>
  <p><%= get_position_link_to "現在位置を送信", :action => "save_position" %></p>
<% else %>
  <p><%= get_position_link_to "現在位置を送信", :action => "save_position", :disaster_code => @disaster_code, :agent_id => @agent_id %></p>
<% end %>
<p>※リンク選択後に、確認を求められますが、全て承諾してください。</p>
