#
# .gitignore file
#
.rspec
.rvmrc
Gemfile.local
.bundle
vendor/bundle
log/*
tmp/*
db/*.sqlite3
db/schema.rb
public/system/*
coverage/
spec/tmp/*
config/api_key.yml
config/database.yml
config/settings.yml
config/unicorn.rb
public/assets/*
