"department_code","name","remarks"
"0","未所属",""
"1","総務部危機対策課",""
"2","総務部防災推進課",""
"3","総務部情報政策課",""
"4","総務部秘書広報課",""
"5","総務部総務課",""
"6","総務部人事課",""
"7","総務部管財課",""
"8","総務部庁舎整備推進室",""
"9","復興政策部",""
"10","財務部",""
"11","復興事業部",""
"12","河北総合支所",""
"13","雄勝総合支所",""
"14","河南総合支所",""
"15","桃生総合支所",""
"16","北上総合支所",""
"17","牡鹿総合支所",""
"18","生活環境部",""
"19","健康部",""
"20","福祉部",""
"21","産業部",""
"22","建設部",""
"23","病院局　事務部",""
"24","会計管理者",""
"25","工事検査室",""
"26","教育委員会事務局",""
"27","議会事務局",""
"28","選挙管理委員会事務局",""
"29","監査委員事務局",""
"30","農業委員会事務局",""
