# -*- coding:utf-8 -*-
development:
  version: "v1.0.0"
  index_map:
    latitude: 38.4344802
    longitude: 141.3029167
  ldap_auth:
    enable: false
  external_auth:
    enable: true
    google_enable: true
    twitter_enable: true
    facebook_enable: true
  # SMTPサーバの設定
  mail:
    address: smtp.example.com
    port: 587
    authentication: :plain
    user_name: username
    password: password
    domain: smtp.example.com
    enable_starttls_auto: true
    sender: saitai@example.com
    host: localhost:3000
  # ログイン画面のアカウント新規登録項目の表示・非表示
  # * true : 表示
  # * false: 非表示
  account_display_enable: true
  # 表示対象となる外部配信先のIDを設定
  # LGDISに設定した「外部配信先設定値」のうち、
  # 位置情報登録で利用する設定のIDを指定する
  # 注：基本的に０号～３号配備のIDを設定します
  delivery_place_id:
    - 2
    - 3
    - 4
    - 5
  # user_path作成用文字列
  user_path_code: xxxxxxxxxxxx
  # project_id 取得元のURL
  project_id_url: http://127.0.0.1:8080/
test:
  version: "v1.0.0"
  index_map:
    latitude: 38.4344802
    longitude: 141.3029167
  ldap_auth:
    enable: false
  external_auth:
    enable: true
    google_enable: true
    twitter_enable: true
    facebook_enable: true
  # SMTPサーバの設定
  mail:
    address: smtp.example.com
    port: 587
    authentication: :plain
    user_name: username
    password: password
    domain: smtp.example.com
    enable_starttls_auto: true
    sender: saitai@example.com
    host: localhost:3000
  # ログイン画面のアカウント新規登録項目の表示・非表示
  # * true : 表示
  # * false: 非表示
  account_display_enable: true
  # 表示対象となる外部配信先のIDを設定
  # LGDISに設定した「外部配信先設定値」のうち、
  # 位置情報登録で利用する設定のIDを指定する
  # 注：基本的に０号～３号配備のIDを設定します
  delivery_place_id:
    - 2
    - 3
    - 4
    - 5
  # user_path作成用文字列
  user_path_code: xxxxxxxxxxxx
  # project_id 取得元のURL
  project_id_url: http://127.0.0.1:8080/
production:
  version: "v1.0.0"
  index_map:
    latitude: 38.4344802
    longitude: 141.3029167
  ldap_auth:
    enable: false
  external_auth:
    enable: true
    google_enable: true
    twitter_enable: true
    facebook_enable: true
  # SMTPサーバの設定
  mail:
    address: smtp.example.com
    port: 587
    authentication: :plain
    user_name: username
    password: password
    domain: smtp.example.com
    enable_starttls_auto: true
    sender: saitai@example.com
    host: localhost:3000
  # ログイン画面のアカウント新規登録項目の表示・非表示
  # * true : 表示
  # * false: 非表示
  account_display_enable: true
  # 表示対象となる外部配信先のIDを設定
  # LGDISに設定した「外部配信先設定値」のうち、
  # 位置情報登録で利用する設定のIDを指定する
  # 注：基本的に０号～３号配備のIDを設定します
  delivery_place_id:
    - 2
    - 3
    - 4
    - 5
  # user_path作成用文字列
  user_path_code: xxxxxxxxxxxx
  # project_id 取得元のURL
  project_id_url: http://127.0.0.1:8080
