# -*- coding:utf-8 -*-
# LGDSF ActiveResource settings
lgdsf:
  development:
    latitude: 38.4344802
    longitude: 141.3029167
  test:
    latitude: 38.4344802
    longitude: 141.3029167
  production:
    latitude: 38.4344802
    longitude: 141.3029167
