# -*- coding:utf-8 -*-
development:
  version: "Ver1.0.0.a"
  index_map:
    latitude: 38.4344802
    longitude: 141.3029167
  ldap_auth:
    enable: false
  external_auth:
    enable: true
  # SMTPサーバの設定
  mail:
    address: smtp.example.com
    port: 587
    authentication: :plain
    user_name: username
    password: password
    domain: smtp.example.com
    enable_starttls_auto: true
    sender: saitai@example.com
    host: localhost:3000

test:
  version: "Ver1.0.0.a"
  index_map:
    latitude: 38.4344802
    longitude: 141.3029167
  ldap_auth:
    enable: false
  external_auth:
    enable: true
  # SMTPサーバの設定
  mail:
    address: smtp.example.com
    port: 587
    authentication: :plain
    user_name: username
    password: password
    domain: smtp.example.com
    enable_starttls_auto: true
    sender: saitai@example.com
    host: localhost:3000

production:
  version: "Ver1.0.0.a"
  index_map:
    latitude: 38.4344802
    longitude: 141.3029167
  ldap_auth:
    enable: false
  external_auth:
    enable: true
  # SMTPサーバの設定
  mail:
    address: smtp.example.com
    port: 587
    authentication: :plain
    user_name: username
    password: password
    domain: smtp.example.com
    enable_starttls_auto: true
    sender: saitai@example.com
    host: localhost:3000
