html, body {
  width : 100%;
  height : 100%;
  margin : 0;
}
html {
  overflow-x:hidden;
  overflow-y:hidden;
}
body {
}

html > body .sidebar #content {
  width : 100%;
  height :100%;
  margin : 0;
  min-height: 100%;
  padding: 0;
}
.sidebar div#list {
  width:25%;
  float:left;
  overflow-y: scroll;
  padding-top: 10px;
}
.sidebar div#map_canvas {
  width:75%;
  float:right;
  //overflow-y: hidden;
}

ul.person_list, ul.note_list {
  margin: 0;
}
ul.person_list li, ul.note_list li{
  list-style-type: none;
}

#header h1.login {
  font-size: 4em;
}
